[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
MemoryCaptures/
UserSettings/
.vscode/
*.csproj
*.unityproj
*.sln
*.user
*.pidb
*.booproj
*.svd

# Unity Cache
Packages/manifest.json
Packages/packages-lock.json
Library/PackageCache/
